Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1.sql
    2.python
    3.R

Some of the commonly used libraries used by Data Scientists include:
    1.numpy
    2.pandas
    3.matplotlib
    4.seaborn

Data Science Tools
jupyter notebook
pytorch
tableau

## Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
a=200/60
print(a," hours")

3.3333333333333335  hours

**Objectives:**
* python
* R
* Scala
* Julia
* Matlab
* SQL

## Author
G.RAJESH